@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Default properties for tags */
body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

button {
    all:unset;
}
/* end */

/* making the whole document flexible */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* header part  */
.header {
    background-color: #1F2937;
    color: whitesmoke;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: space-between;

}

.header .header-links {
    margin-right: 80px;
}

.header .header-links ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 80px;
}

.header-links ul li a {
    font-size: 16px;
    color: whitesmoke;
}
/* end */

/* first row content part */
.content-first-row  {
    background-color: #1F2937;
    padding: 16px 80px 80px;
    align-self: flex-start;
    display: flex;
}

.content-first-row div {
    color: #F9FAF8;
    flex: 1 1 0;

}

.content-first-row .text-and-button {
    display: flex;
    flex-direction: column;
}

.content-first-row 
.text-and-button 
.hero-title {
    font-size: 48px;
    font-weight: 900;
    padding: 16px 16px 4px 0px;
}

.content-first-row 
.text-and-button 
.hero-text {
    font-size: 16px;
    padding: 4px 16px 4px 0px;
}

.content-first-row 
.text-and-button 
.sign-up-button {
    padding: 4px 16px 16px 0px;
}

.content-first-row 
.text-and-button 
.sign-up-button
button {
    background-color: #3882f6;
    font-size: 16px;
    text-align: center;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
}

.content-first-row 
.content-first-row-image {
    background-color: #e5e7eb89;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-first-row 
.content-first-row-image
div {
    text-align: center;
}
/* end */

/* The second row of contents */
.content-second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 500px;
    padding: 32px 100px;
}

.content-second-row div {
    flex: 1 1 0;
}

.content-second-row .items .shape {
    box-sizing: border-box;
    background-color: #F9FAF8;
    border: 4px solid #3882f6;
    border-radius: 8px;
    /* padding: 8px; */
}

.content-second-row .items .text {
    text-align: center;
    font-size: 16px;
    color: #0000008b;
    padding: 8px;
}


.content-second-row .items {
    display: flex;
    justify-content: center;
    padding: 8px;
    flex-wrap: wrap;
}

.content-second-row .items div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    /* box-sizing: border-box; */
    width: 150px;
    height: 300px;
}

.content-second-row .title {
    padding: 8px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/* The third row */
.content-third-row {
    box-sizing: border-box;
    background-color: #e5e7eb89;
    height: 400px;
    padding: 32px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.content-third-row .quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.content-third-row .quote-person {
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
    font-size: 24px;
}

/* Fourth row */
.content-fourth-row {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-fourth-row .container {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 32px 96px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
}

.content-fourth-row .container .content{
    padding: 8px;
}

.content-fourth-row .container .content .title {
    font-weight: 800;
}

.content-fourth-row .container .content .text {
    font-size: 16px;
}

.content-fourth-row .container .sign-up-button {
    padding: 8px;
}

.content-fourth-row .container .sign-up-button button{
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 32px;
    border-radius: 8px;
}


/* the footer part */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: auto;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}